/* Common style */
#billboard figure {
	position: relative;
	overflow: hidden;
	background: #000;
	text-align: center;
	cursor: pointer;
}

#billboard figure figcaption {
	padding: 2em 0;
	color: #fff;
	font-size: 12px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#billboard figure figcaption::before,
#billboard figure figcaption::after {
	pointer-events: none;
}

#billboard figure figcaption,
#billboard figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
#billboard figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}



/*---------------*/
/***** Milo *****/
/*---------------*/

figure.effect-milo {
	background: #000;
	height: 100%;
	width: 100%;
}

figure.effect-milo img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height: auto;
}
/*
figure.effect-milo:hover img {
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}*/


figure.effect-milo p {
	float: right;
	padding: 0 10px 0 1em;
	border-left: 1px solid #fff;
	text-align: left;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
	width: 35%;
}

figure.effect-milo:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
