// Colors
$text: #fff;
$mainColor: #1d1d21;
$accentColor: #e93f0f;
$bdc: #343438;

// Support SVG for IE9
$experimental-support-for-svg: true;

// Vendor Prefix
// $experimental-support-for-opera: false; // -o-
// $experimental-support-for-microsoft: false; // -ms-
// $experimental-support-for-mozilla: false; // -moz-

$width: 1024px;