$base-font-size: 14px;
$base-line-height: 21px;
@include establish-baseline;

body {
	@extend .ffg;
	@include break-point(mobile) {
		$font-size: 12px;
		@include adjust-font-size-to($font-size);
	}
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


.en {
	color: #bdbdbd;
	font-style: italic;
}
.shop_en_fonts {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 1.8em;
	margin-bottom: 2em;
}