.ttl01 {
	font-size: 18px;
	font-weight: 700;
}
.ttl02 {
	$font-size: 30px;
	@include adjust-font-size-to($font-size);
	margin-bottom: 1em;
	font-weight: 500;
}
.ttl03 {
	$font-size: 18px;
	@include adjust-font-size-to($font-size);
	font-weight: 500;
	margin-bottom: 1em;
}
.ttl03-a {
	$font-size: 40px;
	@include adjust-font-size-to($font-size);
	font-weight: 500;
}
.ttl04 {
	$font-size: 16px;
	@include adjust-font-size-to($font-size);
	font-weight: 500;
}
.ttl05 {
	$font-size: 18px;
	@include adjust-font-size-to($font-size);
	font-weight: 500;
}
.subtitle {
	$font-size: 20px;
	@include adjust-font-size-to($font-size);
	margin-bottom: 1em;
	margin-top: -.5em;
}