/* Buttons */
.btn01 {
	$font-size: 20px;
	@include adjust-font-size-to($font-size);
	border: 1px solid $bdc;
	background: #1a1a1d;
	display: block;
	height: $base-line-height * 2.5;
	line-height: 2.5em;
	position: relative;
	text-align: center;
	width: 320px;
	@include break-point(tablet) {
		width: 100%;
	}
	z-index: 2;
	span {
		content: '';
		background: $accentColor;
		display: block;
		left: 0;
		height: 53px;
		position: absolute;
		top: 0;
		@include transition(all .2s);
		width: 3px;
		z-index: -1;
	}
	&:hover span {
		width: 320px;
		@include break-point(tablet) {
			width: 100%;
		}
	}
}