/* Lists */
.list01 {
	list-style-type: disc;
	a:hover {
		text-decoration: underline;
	}
}

.list02 {
	@extend .fl;
	dd {
		padding-bottom: .5em;
	}
}

.sitemaplist {
	li {
		@extend .fl;
		background: #fff;
		color: #000;
		font-weight: bold;
		margin: 0 2em 2em 0;
		padding: .25em 0;
		text-align: center;
		width: 30%;
		&:nth-child(3n) {
			margin-right: 0;
		}
		a {
			color: #000;
			display: block;
			text-decoration: none;
			@include transition(all .2s ease-in);
			&:hover {
				color: lighten(#000, 70%)
			}
		}
		@include break-point(tablet) {
			width: 100%;
		}
	}
}