/*** /access/ ***/
.access {
	.list02 {
		width: 30%;
		@include break-point(tablet) {
			width: 100%;
		}
		dt {
			background: $bdc;
		}
	}
	.map {
		@extend .fr;
		width: 60%;
		@include break-point (tablet) {
			width: 100%;
		}
	}
}