/*** /blog/ ***/
.single-blog {
	.eyecatch {
		overflow: hidden;
		width: 40%;
		img {
			height: auto;
			width: 100%;
		}
		@include break-point(tablet) {
			width: 100%;
		}
	}
	time {
		display: block;
		margin-bottom: 1em;
	}
	p {
		margin-bottom: 2em;
	}
}
.post-type-archive-blog {
	.archive-blogarea {
		@include box-shadow(rgba(0, 0, 0, 0.8) 0px 0px 6px 3px);
		border-bottom: 5px solid #0085A0;
		color: #000;
		overflow: hidden;
		margin-bottom: 1em;
		width: 100%;
		@include break-point(tablet) {
			margin-bottom: 3em;
			width: 100%;
		}
		.imgdiv {
			display: inline-block;
			height: 320px;
			overflow: hidden;
		}
		a {
			color: #000;
			display: inline-block;
		}
		img {
			@extend .fl;
			height: auto;
			width: 480px;
			@include break-point(tablet) {
				width: 100%;
				height: auto;
			}
		}
		div {
			@extend .fr;
			@extend .clearfix;
			background: #fff;
			color: #000;
			padding: 1em;
			height: 292px;
			width: 516px;
			@include break-point(tablet) {
				height: 120px;
				width: 100%;
				padding: 0;
			}
			span {
				display: block;
				@include break-point(tablet){
					padding: 1em;
				}
			}
		}
		&:hover {
			@extend .hover;
		}
	}
}