/*** /collections/ ***/
.single-collections {
	.eyecatch {
		@extend .fl;
		margin-bottom: 2em;
		overflow: hidden;
		width: 40%;
		img {
			height: auto;
			width: 100%;
		}
		@include break-point(tablet) {
			width: 100%;
		}
	}
	.text {
		@extend .fr;
		padding: 0 1em;
		width: 56%;
		@include break-point(tablet) {
			padding: 0;
			width: 100%;
		}
	}
	p {
		margin-bottom: 2em;
	}
}