/*** /company/ ***/
.company {
	.tb01 {
		@extend .fl;
		width: 60%;
		@include break-point(tablet) {
			margin-bottom: 1em;
			width: 100%;
		}
		th {
			font-weight: bold;
			width: 20%;
			vertical-align: top;
		}
		th, td {
			padding: .5em 0;
		}
	}
	.tile {
		@extend .fr;
		width: 38%;
		@include break-point(tablet) {
			width: 100%;
		}
	}
}