/*** / ***/
.home {
	#billboard {
		display: inline-block;
		margin-bottom: 4em;
		// height: 500px;
		position: relative;
		width: 100%;
		@include break-point(tablet) {
			// height: 380px;
		}
		#billboard figure img {
			display: block;
			position: relative;
			height: 100%;
			width: 100%;
		}
		@include break-point(tablet) {
			#billboard figure img {
				height: 100%;
				width: auto;
			}
		}
		.sp-img {
			display: none;
			@include break-point(tablet) {
				display: block;
			}
		}
		.pc-img {
			display: block;
			@include break-point(tablet) {
				display: none;
			}
		}
	}
	.kame {
		position: absolute;
		bottom: -4em;
		width: 100%;
		z-index: 20;
		img {
			height: auto;
			width: 120px;
		}
	}
	.ttl01 {
		margin-bottom: 2em;
	}
	.sec01 {
		border-bottom: 1px solid #343438;
		@include padding-trailer(2);
		@include trailer(2);
		.en {
			$font-size: 12px;
			@include adjust-font-size-to($font-size);
			margin-bottom: 4em;
		}
		.btn01 {
			margin: 0 auto;
		}
	}
	.supplement {
		clear: both;
		display: inline-block;
		margin-top: 3em;
		width: 100%;
		p {
			@extend .fl;
			margin-top: 1em;
			@include break-point(tablet) {
				margin-bottom: 2em;
			}
		}
		.btn01 {
			@extend .fr;
		}
	}
	.pickup {
		.list01 {
			@extend .fl;
			padding-left: 1em;
			width: 27%;
			@include break-point(tablet) {
				width: 100%;
				@include trailer(1);
			}
		}
		.pickupcontents {
			@extend .fr;
			width: 66%;
			@include break-point(tablet) {
				width: 100%;
			}
			> div {
				margin-bottom: 0;
			}
			> div:first-child {
				margin-right: 2em;
				@include break-point(tablet) {
					margin-right: 0;
				}
			}
		}
	}
	.blogarea {
		div > div {
			display: none;
		}
	}
	/*
	==============================================
	hatch
	==============================================
	*/

	.hatch{
		animation-name: hatch;
		-webkit-animation-name: hatch;

		animation-duration: 2s;
		-webkit-animation-duration: 2s;

		animation-timing-function: ease-in-out;
		-webkit-animation-timing-function: ease-in-out;

		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;

		transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		-webkit-transform-origin: 50% 100%;

		visibility: visible !important;
	}

	@keyframes hatch {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(1deg);
		}
		20% {
			transform: rotate(-2deg);
		}
		30% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(-3deg);
		}
		65% {
			transform: rotate(1deg);
		}
		80% {
			transform: rotate(-1deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	@-webkit-keyframes hatch {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(1deg);
		}
		20% {
			transform: rotate(-2deg);
		}
		30% {
			transform: rotate(0deg);
		}
		50% {
			-webkit-transform: rotate(-3deg);
		}
		65% {
			-webkit-transform: rotate(1deg);
		}
		80% {
			-webkit-transform: rotate(-1deg);
		}
		100% {
			-webkit-transform: rotate(0deg);
		}
	}
}