/*** 特別ページ ***/
.page-template-page-sp {
	.sec02 {
		text-align: center;
	}
	/* .slideShow
	------------------------- */
	.slideShow {
	    margin: 0 auto;
	    text-align: left;
	    display: none;
	}

	/* .mainView
	------------------------- */
	.slideShow .mainView {
	    width: 100%;
	    position: relative;
	    overflow: hidden;
	}
	.slideShow .mainView ul {
	    width: 100%;
	    overflow: hidden;
	    position: relative;
	}
	.slideShow .mainView ul li {
	    top: 0;
	    left: 0;
	    width: 100%;
	    position: absolute;
	}
	.slideShow .mainView ul li img {
	    width: 100%;
	}

	/* .thumbNail
	------------------------- */
	.slideShow .thumbNail {
	    width: 100%;
	    overflow: hidden;
	}

	.slideShow .thumbNail ul {
	    width: 110%;
	}

	.slideShow .thumbNail ul li {
	    float: left;
	    display: inline;
	    overflow: hidden;
	    cursor: pointer;
	}

	.slideShow .thumbNail ul li img {
	    width: 100%;
	}

	.slideShow .thumbNail ul li.active {
	    filter: alpha(opacity=100)!important;
	    -moz-opacity: 1!important;
	    opacity: 1!important;
	}

	/* sideNavi
	------------------------- */
	.slideShow .mainView .btnPrev,
	.slideShow .mainView .btnNext {
	    top: 0;
	    width: 5%;
	    height: 100%;
	    position: absolute;
	    z-index: 100;
	}
	.slideShow .mainView .btnPrev {
	    left: 0;
	    background: #ccc no-repeat center center;
	}
	.slideShow .mainView .btnNext {
	    right: 0;
	    background: #ccc no-repeat center center;
	}

	/* =======================================
	    ClearFixElements
	======================================= */
	.slideShow ul:after {
	    content: ".";
	    height: 0;
	    clear: both;
	    display: block;
	    visibility: hidden;
	}

	.slideShow ul {
	    display: inline-block;
	    overflow: hidden;
	}
	.slide-img-area {
		position: relative;
		z-index: 10;
	}
}
.special_contents_area {
	@extend .clearfix;
	position: relative;
	.img {
		@extend .fl;
		@include break-point(tablet) {
			width: 100%;
		}
	}
	.text {
		border-left: 1px solid #fff;
		padding-left: 1em;
		position: absolute;
		top: 2em;
		left: 18em;
		@include break-point(tablet) {
			position: relative;
			top: 0;
			left: 0;
		}
	}
}