@charset "UTF-8";
/*
Theme Name: renzo & fabio
Theme URI: http://renzo.guruglewebdesign.com/wp-content/themes/renzo/
Author: Haruka.M
Author URI: http://renzo.guruglewebdesign.com/
Description: renzo用のテーマです。
*/
/*** Reset CSS ***/
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

input,
textarea {
  outline: 0;
}

img {
  vertical-align: top;
}

.clearfix, #container, #main .blogarea div, section, article, #header, .post-type-archive-blog .archive-blogarea div, .special_contents_area {
  zoom: 1;
}
.clearfix:after, #container:after, #main .blogarea div:after, section:after, article:after, #header:after, .post-type-archive-blog .archive-blogarea div:after, .special_contents_area:after {
  clear: both;
  content: '';
  display: block;
}

.hover, #main .pickupcontents > div img:hover, #main .blogarea:hover, #f-nav a:hover, .post-type-archive-blog .archive-blogarea:hover {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.hover:hover, #main .pickupcontents > div img:hover, #main .blogarea:hover, #f-nav a:hover, .post-type-archive-blog .archive-blogarea:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

.ffg, body {
  font-family: 'Libre Baskerville', Yu Gothic, '游ゴシック体', 'Noto Sans Japanese',  'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

.ffm {
  font-family: Yu Mincho, '游明朝体', 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
}

.fr, #main .blogarea div .bdl, .right, #f-nav, .home .supplement .btn01, .home .pickup .pickupcontents, .post-type-archive-blog .archive-blogarea div, .single-collections .text, .access .map, .company .tile {
  float: right;
}

.fl, .list02, .sitemaplist li, #main .pickupcontents > div, #main .blogarea, .left, #g-nav a, #f-nav li, #breadcrumbs li, .home .supplement p, .home .pickup .list01, .post-type-archive-blog .archive-blogarea img, .single-collections .eyecatch, .company .tb01, .special_contents_area .img {
  float: left;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

/*** Typography ***/
html {
  font-size: 87.5%;
  line-height: 1.5em;
}

@media only screen and (max-width: 739px) {
  body {
    font-size: 0.85714em;
    line-height: 1.75em;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.en {
  color: #bdbdbd;
  font-style: italic;
}

.shop_en_fonts {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.8em;
  margin-bottom: 2em;
}

.ttl01 {
  font-size: 18px;
  font-weight: 700;
}

.ttl02 {
  font-size: 2.14286em;
  line-height: 1.4em;
  margin-bottom: 1em;
  font-weight: 500;
}

.ttl03 {
  font-size: 1.28571em;
  line-height: 2.33333em;
  font-weight: 500;
  margin-bottom: 1em;
}

.ttl03-a {
  font-size: 2.85714em;
  line-height: 1.575em;
  font-weight: 500;
}

.ttl04 {
  font-size: 1.14286em;
  line-height: 1.3125em;
  font-weight: 500;
}

.ttl05 {
  font-size: 1.28571em;
  line-height: 2.33333em;
  font-weight: 500;
}

.subtitle {
  font-size: 1.42857em;
  line-height: 2.1em;
  margin-bottom: 1em;
  margin-top: -.5em;
}

/*** UI ***/
/* Lists */
.list01 {
  list-style-type: disc;
}
.list01 a:hover {
  text-decoration: underline;
}

.list02 dd {
  padding-bottom: .5em;
}

.sitemaplist li {
  background: #fff;
  color: #000;
  font-weight: bold;
  margin: 0 2em 2em 0;
  padding: .25em 0;
  text-align: center;
  width: 30%;
}
.sitemaplist li:nth-child(3n) {
  margin-right: 0;
}
.sitemaplist li a {
  color: #000;
  display: block;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.sitemaplist li a:hover {
  color: #b3b3b3;
}
@media only screen and (max-width: 700px) {
  .sitemaplist li {
    width: 100%;
  }
}

/* Images */
/* Buttons */
.btn01 {
  font-size: 1.42857em;
  line-height: 2.1em;
  border: 1px solid #343438;
  background: #1a1a1d;
  display: block;
  height: 52.5px;
  line-height: 2.5em;
  position: relative;
  text-align: center;
  width: 320px;
  z-index: 2;
}
@media only screen and (max-width: 700px) {
  .btn01 {
    width: 100%;
  }
}
.btn01 span {
  content: '';
  background: #e93f0f;
  display: block;
  left: 0;
  height: 53px;
  position: absolute;
  top: 0;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 3px;
  z-index: -1;
}
.btn01:hover span {
  width: 320px;
}
@media only screen and (max-width: 700px) {
  .btn01:hover span {
    width: 100%;
  }
}

/* Forms */
/* Tables */
/* Icons */
/*** Common ***/
.noscript {
  background-color: #ffe5e5;
  border: 1px solid #f00;
  color: #f00;
  display: none;
  font-weight: bold;
  line-height: 3;
  text-align: center;
}

#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 21px;
}
@media only screen and (max-width: 700px) {
  #container {
    width: 100%;
  }
}

#main {
  margin: 0 auto;
  padding-top: 2em;
  width: 1024px;
}
@media only screen and (max-width: 700px) {
  #main {
    width: 100%;
  }
}
#main .pickupcontents > div {
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 6px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 6px 3px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 6px 3px;
  color: #1d1d21;
  margin-right: 2em;
  margin-bottom: 1em;
  overflow: hidden;
  width: 309px;
}
@media only screen and (max-width: 700px) {
  #main .pickupcontents > div {
    margin-bottom: 2em;
    width: 100%;
  }
}
#main .pickupcontents > div a {
  display: block;
  overflow: hidden;
}
#main .pickupcontents > div img {
  height: 400px;
  width: auto;
}
#main .pickupcontents > div div {
  border-bottom: 10px solid #e93f0f;
  padding: 1em;
}
#main .pickupcontents > div div a {
  color: #1d1d21;
  display: block;
  text-align: right;
}
#main .pickupcontents > div:last-child {
  margin-right: 0;
}
#main .pickupcontents h3 {
  margin-bottom: .5em;
}
#main .pickupcontents .cl-effect-1 p {
  color: #777;
  height: 46px;
  margin-bottom: .5em;
  overflow: hidden;
}
#main .blogarea {
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 6px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 6px 3px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 6px 3px;
  overflow: hidden;
  margin-bottom: 1em;
  width: 480px;
}
@media only screen and (max-width: 700px) {
  #main .blogarea {
    width: 100%;
  }
}
#main .blogarea:first-child {
  margin-right: 1em;
}
#main .blogarea .imgdiv {
  display: inline-block;
  height: 320px;
  overflow: hidden;
}
#main .blogarea img {
  height: auto;
  width: 480px;
}
#main .blogarea div {
  background: #27272b;
  padding: 1em;
  height: 100px;
}
#main .blogarea div time {
  color: #bdbdbd;
  font-size: 20px;
}
#main .blogarea div .bdl {
  border-left: 1px solid #fff;
  height: 98px;
  overflow: hidden;
  padding-left: 1em;
  width: 90%;
}
@media only screen and (max-width: 700px) {
  #main .blogarea div .bdl {
    width: 88%;
  }
}

body {
  background: #1d1d21;
  color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}
body.ray-hidden {
  overflow: hidden;
}

#overlay {
  background: #000;
  opacity: .5;
  display: none;
  width: 100%;
  z-index: 30;
  height: 1000px;
  position: absolute;
  top: 0;
}
#overlay.active {
  display: block;
}

a {
  color: #fff;
  text-decoration: none;
}

.cta a {
  background: #656572;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  margin-left: .5em;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.cta a:hover {
  background: #1d1d21;
}

@media only screen and (max-width: 700px) {
  section {
    margin-bottom: 3em;
  }
}

main > section,
main > article {
  border-bottom: 1px solid #343438;
  margin-bottom: 3em;
  padding-bottom: 3em;
}

.mb1 {
  margin-bottom: 1em;
}

.mb2 {
  margin-bottom: 2em;
}

.posts-navigation {
  text-align: center;
}

.screen-reader-text {
  display: none;
}

.navigation {
  border-bottom: 1px solid #343438;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.selectarchive {
  margin-bottom: 2em;
  text-align: center;
}

.left {
  width: 50%;
}
@media only screen and (max-width: 700px) {
  .left {
    width: 100%;
  }
}

.right {
  width: 50%;
}
@media only screen and (max-width: 700px) {
  .right {
    width: 100%;
  }
}

.fadeInDown {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/*** Header ***/
#header {
  position: relative;
  text-align: center;
  z-index: 80;
}
@media only screen and (max-width: 700px) {
  #header {
    margin-bottom: 2em;
  }
}
#header .logo {
  display: block;
  text-align: center;
}
#header .logo img {
  height: auto;
  width: 172px;
}
#header .cta {
  right: 0;
  position: absolute;
  top: 0;
}
@media only screen and (max-width: 700px) {
  #header .cta {
    display: none;
  }
}

/*** Navigation ***/
#g-nav {
  display: inline-block;
  margin-top: 1em;
  text-align: center;
  width: 82%;
}
@media only screen and (max-width: 700px) {
  #g-nav {
    background: #1d1d21;
    display: block;
    height: 0;
    margin-top: 2em;
    overflow: hidden;
    position: absolute;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 50;
  }
  #g-nav.active {
    height: 240px;
  }
}
#g-nav a {
  font-size: 0.85714em;
  line-height: 1.75em;
  padding: 1.5em 0;
  width: 20%;
}
@media only screen and (max-width: 700px) {
  #g-nav a {
    width: 100%;
  }
}

.hamburger-button {
  display: none;
}
@media only screen and (max-width: 700px) {
  .hamburger-button {
    background: #1d1d21;
    border: 1px solid #343438;
    display: block;
    outline: 0;
    padding: .6em 0 0 1.3em;
    position: absolute;
    right: -2em;
    height: 4.5em;
    width: 4.5em;
    top: -2em;
    z-index: 100;
  }
  .hamburger-button div {
    background: #fff;
    height: 2px;
    margin-bottom: 5px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 20px;
  }
  .hamburger-button.active div {
    margin-bottom: 0;
  }
  .hamburger-button.active .bar01 {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .hamburger-button.active .bar02 {
    display: none;
  }
  .hamburger-button.active .bar03 {
    margin-top: -2px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

nav a:hover,
nav a:focus {
  outline: none;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

#f-nav {
  font-size: 0.78571em;
  line-height: 1.90909em;
}
#f-nav li {
  margin-right: 2em;
}
#f-nav a {
  color: #a7a7a8;
}

/*** Breadcrumbs ***/
#breadcrumbs {
  font-size: 0.85714em;
  line-height: 1.75em;
  margin: 0 auto;
  margin-bottom: 1.5em;
  width: 1024px;
}
@media only screen and (max-width: 700px) {
  #breadcrumbs {
    width: 100%;
  }
}
#breadcrumbs a {
  color: #888;
}
#breadcrumbs a:hover {
  text-decoration: underline;
}

/*** Localmenus ***/
/*** Side ***/
/*** Footer ***/
#footer {
  color: #a7a7a8;
}
#footer .cta {
  margin-bottom: 2em;
}
#footer small {
  font-size: 0.71429em;
  line-height: 2.1em;
}

/******************************
    Below For Each Page
******************************/
/*** / ***/
.home {
  /*
  ==============================================
  hatch
  ==============================================
  */
}
.home #billboard {
  display: inline-block;
  margin-bottom: 4em;
  position: relative;
  width: 100%;
}
.home #billboard #billboard figure img {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .home #billboard #billboard figure img {
    height: 100%;
    width: auto;
  }
}
.home #billboard .sp-img {
  display: none;
}
@media only screen and (max-width: 700px) {
  .home #billboard .sp-img {
    display: block;
  }
}
.home #billboard .pc-img {
  display: block;
}
@media only screen and (max-width: 700px) {
  .home #billboard .pc-img {
    display: none;
  }
}
.home .kame {
  position: absolute;
  bottom: -4em;
  width: 100%;
  z-index: 20;
}
.home .kame img {
  height: auto;
  width: 120px;
}
.home .ttl01 {
  margin-bottom: 2em;
}
.home .sec01 {
  border-bottom: 1px solid #343438;
  padding-bottom: 3em;
  margin-bottom: 3em;
}
.home .sec01 .en {
  font-size: 0.85714em;
  line-height: 1.75em;
  margin-bottom: 4em;
}
.home .sec01 .btn01 {
  margin: 0 auto;
}
.home .supplement {
  clear: both;
  display: inline-block;
  margin-top: 3em;
  width: 100%;
}
.home .supplement p {
  margin-top: 1em;
}
@media only screen and (max-width: 700px) {
  .home .supplement p {
    margin-bottom: 2em;
  }
}
.home .pickup .list01 {
  padding-left: 1em;
  width: 27%;
}
@media only screen and (max-width: 700px) {
  .home .pickup .list01 {
    width: 100%;
    margin-bottom: 1.5em;
  }
}
.home .pickup .pickupcontents {
  width: 66%;
}
@media only screen and (max-width: 700px) {
  .home .pickup .pickupcontents {
    width: 100%;
  }
}
.home .pickup .pickupcontents > div {
  margin-bottom: 0;
}
.home .pickup .pickupcontents > div:first-child {
  margin-right: 2em;
}
@media only screen and (max-width: 700px) {
  .home .pickup .pickupcontents > div:first-child {
    margin-right: 0;
  }
}
.home .blogarea div > div {
  display: none;
}
.home .hatch {
  animation-name: hatch;
  -webkit-animation-name: hatch;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  visibility: visible !important;
}
@keyframes hatch {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(1deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  65% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes hatch {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(1deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
  }
  65% {
    -webkit-transform: rotate(1deg);
  }
  80% {
    -webkit-transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
/*** /blog/ ***/
.single-blog .eyecatch {
  overflow: hidden;
  width: 40%;
}
.single-blog .eyecatch img {
  height: auto;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .single-blog .eyecatch {
    width: 100%;
  }
}
.single-blog time {
  display: block;
  margin-bottom: 1em;
}
.single-blog p {
  margin-bottom: 2em;
}

.post-type-archive-blog .archive-blogarea {
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 6px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 6px 3px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 6px 3px;
  border-bottom: 5px solid #0085A0;
  color: #000;
  overflow: hidden;
  margin-bottom: 1em;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .post-type-archive-blog .archive-blogarea {
    margin-bottom: 3em;
    width: 100%;
  }
}
.post-type-archive-blog .archive-blogarea .imgdiv {
  display: inline-block;
  height: 320px;
  overflow: hidden;
}
.post-type-archive-blog .archive-blogarea a {
  color: #000;
  display: inline-block;
}
.post-type-archive-blog .archive-blogarea img {
  height: auto;
  width: 480px;
}
@media only screen and (max-width: 700px) {
  .post-type-archive-blog .archive-blogarea img {
    width: 100%;
    height: auto;
  }
}
.post-type-archive-blog .archive-blogarea div {
  background: #fff;
  color: #000;
  padding: 1em;
  height: 292px;
  width: 516px;
}
@media only screen and (max-width: 700px) {
  .post-type-archive-blog .archive-blogarea div {
    height: 120px;
    width: 100%;
    padding: 0;
  }
}
.post-type-archive-blog .archive-blogarea div span {
  display: block;
}
@media only screen and (max-width: 700px) {
  .post-type-archive-blog .archive-blogarea div span {
    padding: 1em;
  }
}

/*** /collections/ ***/
.single-collections .eyecatch {
  margin-bottom: 2em;
  overflow: hidden;
  width: 40%;
}
.single-collections .eyecatch img {
  height: auto;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .single-collections .eyecatch {
    width: 100%;
  }
}
.single-collections .text {
  padding: 0 1em;
  width: 56%;
}
@media only screen and (max-width: 700px) {
  .single-collections .text {
    padding: 0;
    width: 100%;
  }
}
.single-collections p {
  margin-bottom: 2em;
}

/*** /access/ ***/
.access .list02 {
  width: 30%;
}
@media only screen and (max-width: 700px) {
  .access .list02 {
    width: 100%;
  }
}
.access .list02 dt {
  background: #343438;
}
.access .map {
  width: 60%;
}
@media only screen and (max-width: 700px) {
  .access .map {
    width: 100%;
  }
}

/*** /company/ ***/
.company .tb01 {
  width: 60%;
}
@media only screen and (max-width: 700px) {
  .company .tb01 {
    margin-bottom: 1em;
    width: 100%;
  }
}
.company .tb01 th {
  font-weight: bold;
  width: 20%;
  vertical-align: top;
}
.company .tb01 th, .company .tb01 td {
  padding: .5em 0;
}
.company .tile {
  width: 38%;
}
@media only screen and (max-width: 700px) {
  .company .tile {
    width: 100%;
  }
}

/*** /privacy-policy/ ***/
.privacy-policy .list01 {
  margin-left: 2em;
}
.privacy-policy .section {
  margin-bottom: 3em;
}

/*** 特別ページ ***/
.page-template-page-sp {
  /* .slideShow
  ------------------------- */
  /* .mainView
  ------------------------- */
  /* .thumbNail
  ------------------------- */
  /* sideNavi
  ------------------------- */
  /* =======================================
      ClearFixElements
  ======================================= */
}
.page-template-page-sp .sec02 {
  text-align: center;
}
.page-template-page-sp .slideShow {
  margin: 0 auto;
  text-align: left;
  display: none;
}
.page-template-page-sp .slideShow .mainView {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.page-template-page-sp .slideShow .mainView ul {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.page-template-page-sp .slideShow .mainView ul li {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}
.page-template-page-sp .slideShow .mainView ul li img {
  width: 100%;
}
.page-template-page-sp .slideShow .thumbNail {
  width: 100%;
  overflow: hidden;
}
.page-template-page-sp .slideShow .thumbNail ul {
  width: 110%;
}
.page-template-page-sp .slideShow .thumbNail ul li {
  float: left;
  display: inline;
  overflow: hidden;
  cursor: pointer;
}
.page-template-page-sp .slideShow .thumbNail ul li img {
  width: 100%;
}
.page-template-page-sp .slideShow .thumbNail ul li.active {
  filter: alpha(opacity=100) !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
}
.page-template-page-sp .slideShow .mainView .btnPrev,
.page-template-page-sp .slideShow .mainView .btnNext {
  top: 0;
  width: 5%;
  height: 100%;
  position: absolute;
  z-index: 100;
}
.page-template-page-sp .slideShow .mainView .btnPrev {
  left: 0;
  background: #ccc no-repeat center center;
}
.page-template-page-sp .slideShow .mainView .btnNext {
  right: 0;
  background: #ccc no-repeat center center;
}
.page-template-page-sp .slideShow ul:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}
.page-template-page-sp .slideShow ul {
  display: inline-block;
  overflow: hidden;
}
.page-template-page-sp .slide-img-area {
  position: relative;
  z-index: 10;
}

.special_contents_area {
  position: relative;
}
@media only screen and (max-width: 700px) {
  .special_contents_area .img {
    width: 100%;
  }
}
.special_contents_area .text {
  border-left: 1px solid #fff;
  padding-left: 1em;
  position: absolute;
  top: 2em;
  left: 18em;
}
@media only screen and (max-width: 700px) {
  .special_contents_area .text {
    position: relative;
    top: 0;
    left: 0;
  }
}
