/*** Breadcrumbs ***/
#breadcrumbs {
	$font-size: 12px;
	@include adjust-font-size-to($font-size);
	margin: 0 auto;
	@include trailer(1);
	width: $width;
	@include break-point(tablet) {
	width: 100%;
	}
	a {
		color: #888;
		&:hover {
			text-decoration: underline;
		}
	}
	li {
		@extend .fl;
	}
}