/*** Common ***/
.noscript {
	background-color: #ffe5e5;
	border: 1px solid #f00;
	color: #f00;
	display: none;
	font-weight: bold;
	line-height: 3;
	text-align: center;
}
#container {
	@extend .clearfix;
	@include box-sizing(border-box);
	margin: 0 auto;
	padding: $base-line-height;
	@include break-point(tablet) {
		width: 100%;
	}
}
#main {
	margin: 0 auto;
	padding-top: 2em;
	width: $width;
	@include break-point(tablet) {
		width: 100%;
	}
	.pickupcontents {
		> div {
			@extend .fl;
			background: #fff;
			@include box-sizing(border-box);
			@include box-shadow(rgba(0, 0, 0, 0.8) 0px 0px 6px 3px);
			color: $mainColor;
			margin-right: 2em;
			margin-bottom: 1em;
			overflow: hidden;
			width: 309px;
			@include break-point(tablet) {
				margin-bottom: 2em;
				width: 100%;
			}
			a {
				display: block;
				overflow: hidden;
			}
			img {
				height: 400px;
				width: auto;
				&:hover{
					@extend .hover;
				}
			}
			div {
				border-bottom: 10px solid  $accentColor;
				padding: 1em;
				a {
					color: $mainColor;
					display: block;
					text-align: right;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
		h3 {
			margin-bottom: .5em;
		}
		.cl-effect-1 p {
			color: #777;
			height: 46px;
			margin-bottom: .5em;
			overflow: hidden;
		}
	}
	.blogarea {
		@extend .fl;
		@include box-shadow(rgba(0, 0, 0, 0.8) 0px 0px 6px 3px);
		overflow: hidden;
		margin-bottom: 1em;
		width: 480px;
		@include break-point(tablet) {
			width: 100%;
		}
		&:first-child {
			margin-right: 1em;
		}
		.imgdiv {
			display: inline-block;
			height: 320px;
			overflow: hidden;
		}
		img {
			height: auto;
			width: 480px;
		}
		div {
			@extend .clearfix;
			background: #27272b;
			padding: 1em;
			height: 100px;
			time {
				color: #bdbdbd;
				font-size: 20px;
			}
			.bdl {
				@extend .fr;
				border-left: 1px solid $text;
				height: 98px;
				overflow: hidden;
				padding-left: 1em;
				width: 90%;
				@include break-point(tablet) {
					width: 88%;
				}
			}
		}
		&:hover {
			@extend .hover;
		}
	}
}

body {
	background: $mainColor;
	color: $text;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: 'liga', 'kern';
	&.ray-hidden {
		overflow: hidden;
	}
}
#overlay {
	    background: #000;
	    opacity: .5;
	    display: none;
	    width: 100%;
	    z-index: 30;
	    height: 1000px;
	    position: absolute;
	    top: 0;
	&.active {
		display: block;
	}
}
a {
	color: $text;
	text-decoration: none;
}
.cta {
	a {
		background: lighten($mainColor, 30%);
		@include border-radius(100%);
		display: inline-block;
		margin-left: .5em;
		@include transition(all .2s ease-in);
		&:hover {
			background: $mainColor;
		}
	}
}
section {
	@extend .clearfix;
	@include break-point(tablet) {
		@include trailer(2);
	}
}
main > section, 
main > article, {
	border-bottom: 1px solid $bdc;
	margin-bottom: 3em;
	padding-bottom: 3em;
}
article {
	@extend .clearfix;
}

.mb1 {
	margin-bottom: 1em;
}
.mb2 {
	margin-bottom: 2em;
}

.posts-navigation {
	text-align: center;
}
.screen-reader-text {
	display: none;
}

.navigation {
	border-bottom: 1px solid $bdc;
	margin-bottom: 2em;
	padding-bottom: 2em;
}
.selectarchive {
	margin-bottom: 2em;
	text-align: center;
}

// template

.left {
	@extend .fl;
	width: 50%;
	@include break-point(tablet) {
		width: 100%;
	}
}
.right {
	@extend .fr;
	width: 50%;
	@include break-point(tablet) {
		width: 100%;
	}
}


.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}