/*** Header ***/
#header {
	@extend .clearfix;
	position: relative;
	text-align: center;
	z-index: 80;
	@include break-point(tablet) {
		margin-bottom: 2em;
	}
	.logo {
		display: block;
		text-align: center;
		img {
			height: auto;
			width: 172px;
		}
	}
	.cta {
		right: 0;
		position: absolute;
		top: 0;
		@include break-point(tablet) {
			display: none;
		}
	}
}