/*** Navigation ***/
#g-nav {
	display: inline-block;
	margin-top: 1em;
	text-align: center;
	width: 82%;
	@include break-point(tablet) {
		background: $mainColor;
		display: block;
		height: 0;
		margin-top: 2em;
		overflow: hidden;
		position: absolute;
		@include transition(all 0.3s ease-in-out);
		width: 100%;
		z-index: 50;
		&.active {
			height: 240px;
		}
	}
	a {
		@extend .fl;
		$font-size: 12px;
		@include adjust-font-size-to($font-size);
		padding: 1.5em 0;
		width: 20%;
		@include break-point(tablet) {
			width: 100%;
		}
	}
}
.hamburger-button {
	display: none;
	@include break-point (tablet) {
		    background: $mainColor;
		    border: 1px solid $bdc;
		    display: block;
		    outline: 0;
		    padding: .6em 0 0 1.3em;
		    position: absolute;
		    right:  -2em;
		    height: 4.5em;
		    width: 4.5em;
		    top: -2em;
		    z-index: 100;
		div {
			background: $text;
			height: 2px;
			margin-bottom: 5px;
			@include transition(all 0.3s ease-in-out);
			width: 20px;
		}
		&.active {
			div {
				margin-bottom: 0;
			}
			.bar01 {
				@include transform(rotate(45deg));
			}
			.bar02 {
				display: none;
			}
			.bar03 {
				margin-top: -2px;
				@include transform(rotate(-45deg));
			}
		}
	}
}


nav a:hover,
nav a:focus {
	outline: none;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

#f-nav {
	$font-size: 11px;
	@extend .fr;
	@include adjust-font-size-to($font-size);
	li {
		 @extend .fl;
		 margin-right: 2em;
	}
	a {
		color: #a7a7a8;
		&:hover {
			@extend .hover;
		}
	}
}